/*  your css code here. If applicable */
#_3{
	 background-color: rgb(255,0,0);
}
.grid-container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
	background-color:transparent;
	
}
.grid-item{
	margin:5px;
	height:100px;
}
