/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
	background-color:transparent;
	
}
.grid-item{
	margin:5px;
	height:100px;
}
#3,#5{
	background-color:rgba(0, 0, 0, 0);
}